#CourseContainer{
    background: #272727;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position-x: 50%;
    margin-right: auto;
    margin-left: auto;
    padding-top: 3rem;
    padding-bottom: 2rem;
    padding-right: calc(1.5rem * .5);
    padding-left: calc(1.5rem * .5);
}


#introContainer{
    text-align: center;
}
.Course-heading{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 6px 25.6953px 5.80469px 24px;
    width: 135px;
    height: 35px;
    background: rgba(255,255,255,.27);
    border-radius: 25px;
    justify-content: center;
    margin: auto;
    align-items: center;
}

span{
    background: linear-gradient(90deg,#FBC71D -8.76%,#F8AA23 49.19%,#A76A00 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700;
    font-size: 16.2px;
}

h2{
    font-weight: 700;
    font-size: 40px;
    line-height: 54px;
    
    color: #fff;
}

p{
    margin-top: 0.1rem;
    color: #F1F1F1;
    max-width: 550px;
    font-size: 14.4px;
    line-height: 24px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 1rem;
}
.cardDeck{
 display: flex;
 flex-wrap: wrap;
 justify-content: space-evenly;

}
@media (max-width: 1228px)  {
    #CourseContainer{
      flex-wrap: wrap;
    
      justify-content: center;
    }
    .cardDeck{
        
          
    }
}
@media (max-width: 752px)  {
    #CourseContainer{
      display: flex;
     
     
      justify-content: center;
    }
    .cardDeck{
           
    }
}
