
<div id="footer">
    <div id="icons"> 
        <ul class="icon-list">
            <li><a class="social-icon"><img src="../../assets/fb.png" style="height: 1rem;"/></a></li>
            <li><a class="social-icon"><img src="../../assets/ig.png" style="height: 1rem;"/></a></li>
            <li><a class="social-icon"><img src="../../assets/in.png" style="height: 1rem;"/></a></li>
            <li><a class="social-icon"><img src="../../assets/twitter.png" style="height: 1rem;"/></a></li>
        </ul>
    </div>
    <p class="address">RUPA SOLITAIRE, Office No.1303, 13th Floor, B wing, MMT Courses, Millenium Business Park, Sector 2, Ghansoli, Navi Mumbai, Maharashtra 400710</p>
    <div id="dataContainer">
        <div class="item">
          <a href="#" class="review">Terms & Condition</a>
        </div>
        <div class="item item-2">
          <a href="#" class="review">Privacy Policy</a>
        </div>
        <div class="item">
         <a href="#" class="review">Contact Us</a>
        </div>
      </div>
      <p class="footer-line">2023 © Money Making Trading course</p>
</div>