<div id="Information">
<p class="little">Information</p>
<h2>How to Apply?</h2>
<div id="Introduction">
    <div id="TextContainer">
       <div class="steps">
        <img src="	https://tusharghone.com/assets/images/section-img/how-to-apply/point-1.png" alt="Instructor" class="pointImage" >
        <div>
            <h3>Download & Read Brochure</h3>
            <p>Download our Brochure , Read it carefully.<span>All the answers to your questions</span>are provided in the brochure.</p>
        </div>
       </div>
       <div class="steps">
        <img src="	https://tusharghone.com/assets/images/section-img/how-to-apply/point-2.png" alt="Instructor" class="pointImage" >
        <div>
            <h3>Register & Enrollment</h3>
            <p><span>Complete the registration</span> process by paying the amount of registration, and take a screenshot of the successful payment.</p>
        </div>
       </div>
       <div class="steps">
        <img src="https://tusharghone.com/assets/images/section-img/how-to-apply/point-3.png" alt="Instructor" class="pointImage" >
        <div>
            <h3>Confirmation</h3>
            <p>Send the screenshot of successful payment on WhatsApp <span>(+91-8130245100)</span></p>
        </div>
       </div>
       <div class="steps">
        <img src="	https://tusharghone.com/assets/images/section-img/how-to-apply/point-4.png" alt="Instructor" class="pointImage" >
        <div>
            <h3>
                Verification</h3>
            <p>As soon as your payment is verified, you <span>will receive details of your assigned Relationship Manager.</span></p>
        </div>
       </div>
    </div>
    <div class="imgContainer">
        <img src="https://tusharghone.com/assets/images/section-img/how-to-apply/1.png" alt="Instructor" class="aboutImage" >
    </div>
</div>
</div>