#Information{
    padding: 2rem 10rem;
    background: #272727;
}
h2{
    font-weight: 700;
    font-size: 35px;
    line-height: 54px;
    align-items: center;
    color: #fff;
}
.little{
    color: #DF7068;
    font-weight: 700;
    font-size: 11px;
    line-height: 24px;
    align-items: center;
    
}
#Introduction{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
   
    
}
.aboutImage{
    height: 25em;
    padding: 2rem 4rem;
}
span{
    background: linear-gradient(90deg,#FBC71D -8.76%,#F8AA23 49.19%,#A76A00 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
p{
    font-weight: 700;
    font-size: 11px;
    line-height: 24px;
    align-items: center;
    color: #eaeaea;
    margin-top: 0.2rem;
   
}
.pointImage{
    height: 4rem;
    margin-right: 1rem;
}
.steps{
    display:flex;
    flex-direction: row;
 
    align-items: center;
}
h3{
    font-weight: 600;
    font-size: 17px;
    line-height: 44px;
    display: flex;
    align-items: center;
    color: #eaeaea;
    margin-bottom: 0.1rem;
}

@media (max-width: 1128px) {
    #Information{
      
      padding: 1rem  ;
   
    }
    #Introduction{
        flex-wrap: wrap;
        justify-content: center;
    }
    .aboutImage{
        display: none;
    }
}