<div id="homeContainer">
    <div>
      <h5>A Trusted Online Course</h5>
      <h3>Learn Stock Market from Professionals</h3>
      <h1>Start Booking Profits at Right Time</h1>
      <p id="comment">We aim at providing the in-depth knowledge of stock market in the simplest way possible.</p>
      <div class="button">
        <a href="#" >Enroll Now</a>
      </div>
     
      <div id="dataContainer">
        <div class="item">
          <h6>1000+</h6>
          <p class="review">No of Reviews</p>
        </div>
        <div class="item item-2">
          <h6>18+</h6>
          <p class="review">Total Course</p>
        </div>
        <div class="item">
         <h6>120k</h6>
         <p class="review">Dedicated learner</p>
        </div>
      </div>
    </div>
    <div id="bulls">
        <img src="assets/bulls.png" alt="bulls" class="img-bulls" >
    </div>
</div>
