.dropdownItem{
    background-color: #0D0D0D;
    border-radius: 8px;
    margin-bottom: 2em;
    padding: 0.8rem;
}

#visibleComp{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
 
   
}

 .name{
    font-weight: 500;
    font-size: 17px;
    line-height: 28px;
    display: flex;
    align-items: center;
    letter-spacing: 1px;
    color: #fff;
    margin-right: 13rem;
    text-align: justify;
}
.toggleIcon{
    margin-right: 3rem;
    font-size: 24px;
    color: #fff;
    text-align: center;
}
button{
    cursor: pointer;
    background-color: transparent;
    color: #fff;
    border: none;
}
#hidden p{
    color: grey;
    font-size: 14px;
    margin-right: 5rem;

}
#hidden a{
    text-decoration: none;
    color: #0d6efd;
}

@media (max-width: 992px) {
    .name{
       margin-right: 0rem;
       text-align: justify;
    }
    .toggleIcon{
        margin-right: 1rem;
    }
    
}