<div id="Introduction">
    <div class="imgContainer">
        <img src="https://tusharghone.com/assets/images/section-img/instructor/1.png" alt="Instructor" class="aboutImage" >
    </div>
    <div id="TextContainer">
        <h3>Know Your instructor</h3>
        <p>Tushar Ghone is an <span>equity research analyst</span> who is registered with the <span>Securities and Exchange Board of India (SEBI)</span> and is also certified by the <span>National Institute of Securities Markets (NISM).</span> </p>
        <p>He has a Bachelor's Degree in Mechanical Engineering from VJTI Mumbai, and a Post Graduation Diploma in Financial Management from MIT, Pune. He has done <span>1000 Plus Seminars,</span> Webinars and Practice Sessions on Online and Offline Platforms.</p>
        <h5>Tushar Ghone</h5>
    </div>
</div>
