#Introduction{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 2.5rem;
    margin-left: 2.5rem;
    padding-top: 3rem;
    padding-bottom: 2rem;
    padding-right: calc(1.5rem * .5);
    padding-left: calc(1.5rem * .5);
   
    
}
h3{
    font-size: 28px;
    line-height: 1.6;
    color: #fff;
    font-family: "Mulish", sans-serif;
}
span{
    background: linear-gradient(90deg,#FBC71D -8.76%,#F8AA23 49.19%,#A76A00 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
p{
    line-height: 1.8;
    color: #fff;
    text-align: left;
}

.aboutImage{
    height: 30em;
    padding: 2rem 4rem  2rem 0;
}

h5{
    color: #df7068;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 32px;
    margin-right: 2em;
}

@media (max-width: 1128px) {
    #Introduction{
      flex-wrap: wrap;
      
      justify-content: center;
   
    }
    .aboutImage{
        height: 20rem;
    }
    #TextContainer{
        padding:  1rem ;
   }
}
@media (max-width: 786px) {
    #Introduction{
        margin-right: 0.1rem;
        margin-left: 0.1rem;
    }
    .aboutImage{
        height: 15rem;
    }
   
}