#Introduction{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10rem;
    background: #151515;
    background-image: url(https://tusharghone.com/about-us.6972175f2a9d5bc5.png);
    background-size: 70vw;
    background-repeat: no-repeat;
    background-position-x: 50%;
    
}
h3{
    font-size: 28px;
    line-height: 1.6;
    color: #fff;
    font-family: "Mulish", sans-serif;
}
span{
    background: linear-gradient(90deg,#FBC71D -8.76%,#F8AA23 49.19%,#A76A00 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
p{
    line-height: 1.8;
    color: #fff;
}
#TextContainer{
     padding:  2rem 2rem;
}
.aboutImage{
    height: 30em;
    padding: 2rem 5rem;
}

h5{
    color: #df7068;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 32px;
    margin-right: 2em;
}

