<div id="Introduction">
    <div class="imgContainer">
        <img src="https://tusharghone.com/assets/images/section-img/about-us/1.png" alt="About US" class="aboutImage" >
    </div>
    <div id="TextContainer">
        <h3>Introduction to MMTC Course</h3>
        <p>MMTC Course is the Best most <span>affordable stock market course</span> in India. We have the aim to vanish the fear of stock market from Indians and bring them into the world of stock market. We aim at providing the <span>best knowledge in the easiest way possible.</span></p>
        <p>In India, people interpret trading as gambling, we are here to change that vision of India to “Trading is an art of using Idle money for gaining profits”. With proper knowledge <span>ANYBODY can do trading.</span></p>
        <div class="button">
            <a href="#" >Browse Courses</a>
        </div>
    </div>
</div>