<div id="AboutContainer">
    <app-intro></app-intro>
    <div id="Info">
       <div>
        <h2>What Make Us Different</h2>
        <p>There are many things you can only get if you join online learning that you will not get in ordinary learning.</p>
        <app-dropdown [items]="items" class="TextContainer"></app-dropdown>
       </div> 
        
        <div class="imgContainer">
            <img src="https://tusharghone.com/assets/images/section-img/about-us/2.png" alt="About US" class="aboutImage" >
        </div>
    </div>
</div>