
#AboutContainer{
    background: #151515;
    background-image: url(https://tusharghone.com/about-us.6972175f2a9d5bc5.png);
    background-size: 70vw;
    background-repeat: no-repeat;
    background-position-x: 50%;
}
.aboutImage{
    height: 30em;
    margin-left: 5rem;
}
h2{
    font-size: 28px;
    line-height: 1.6;
    color: #ffff;
}
p{
    line-height: 1.8;
    font-size: 14.4px;
    color: #fff;
}
#Info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 3rem 10rem;
}

@media (max-width: 992px) {
    #Info{
      flex-wrap: wrap;
      padding: 1rem ;
      justify-content: center;
    }
    .aboutImage{
        height: 20rem;
        margin-left: auto;
    }
}