
#AboutContainer{
    padding-top: 3rem;
    padding-bottom: 2rem;
    margin-right: auto;
    margin-left: auto;
    padding-right: calc(1.5rem * .5);
    padding-left: calc(1.5rem * .5);
}
.aboutImage{
    height: 30em;
    margin-left: 5rem;
}
h2{
    font-size: 28px;
    line-height: 1.6;
    color: #ffff;
}
p{
    line-height: 1.8;
    font-size: 14.4px;
    color: #fff;
}
#Info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

@media (max-width: 992px) {
    #AboutContainer{
        display: flex;
        flex-direction: column;
       
      
        justify-content: center;
    }
    #Info{
      flex-wrap: wrap;
    
      justify-content: center;
      
    }
    .aboutImage{
        height: 20rem;
        
    }
}